#celebrityContainer {
  #SpinContainer {
    margin: 20px 0;
    margin-bottom: 20px;
    padding: 30px 50px;
    text-align: center;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 4px;
  }

  .cardStyles {
    transition: all 4s ease;
    background: none;
    
    :hover {
      border-radius: 80px 4px 4px 4px;
    }
  }
}
