$CustomGreen: rgb(91, 255, 50);

#Container {
  min-height: 100vh;

  .shadow :hover {
    cursor: pointer;
    box-shadow: 9px 9px 18px #cacaca, -9px -9px 18px #f6f6f6;
  }
  #HeaderStyles {
    height: 80px;
    background-color: #a19eda;
    margin: 40px 180px;
    border: 2px solid $CustomGreen;
    border-radius: 13px;
    font-family: Montserrat;
    transition: 0.4s all ease;
    position: relative;
  }

  #NavStyles {
    padding: 0 40px;
    display: flex;
    justify-content: space-around;  


    #Burger {
      margin:auto;
      height: 80px;
      padding: 20px 10px 0 10px;
      div {
        width: 40px;
        height: 4px;
        background-color: $CustomGreen;
        margin-bottom: 6px;
      }
    }
    #Burger:hover {
      background-color: black;
      border-bottom: 3px solid red;

      div {
        background-color: red;
      }
    }

    #NavLinks {
      line-height: 80px;
      span {
        display: inline-block;
        width: 90px;
        text-align: center;
        font-weight: bold;
        font-size: 0.9rem;
        a {
          color: $CustomGreen;
          letter-spacing: 1px;
        }
      }

      span:hover {
        background-color: black;
        border-bottom: 3px solid red;

        a {
          color: red;
        }
      }
    }
    #SearchComponent {
      margin-top: 25px;
    }
  }
  #ProfileBar {
    div {
      width: 80px;
      height: 80px;
      text-align: center;
      line-height: 80px;
      svg {
        color: $CustomGreen;
      }
      div:hover {
        background-color: black;
        border-bottom: 3px solid red;
        svg {
          color: red;
        }
      }
    }
  }
}

#HeaderResponsive {
  transition: all 0.4s ease;
  background-color: #a19eda;
  margin: 10px 10px;
  border: 2px solid $CustomGreen;
  border-radius: 13px;
  font-family: Montserrat;
  height: 380px;
  position: relative; 
}
#NavStylesResponsive {
  flex-direction: column;
  margin: 10px;
  text-align: center;
}

#NavLinksResponsive {


  span {
    height: 50px;
    line-height: 50px;
    display: block;
    font-weight: bold;
    font-size: 0.9rem;
    a {
      color: $CustomGreen;
      letter-spacing: 1px;
    }
  }
  span:hover {
    background-color: black;
    border-bottom: 3px solid red;

    a {
      color: red;
    }
  }
}
.ProfileBarResponsive{
  position: absolute;
  top: 20px;
  right: 50px;
}
.MovieIconResponsive {
  position: absolute;
  top: 20px;
  left: 50px;
}

#serachComponentResponsive {
  margin: 30px 0;
}
@media only screen and (max-width: 1200px) {
  #HeaderStyles {
    margin: 40px 30px !important;
    position: relative;
  }
}
@media only screen and (max-width: 767px) {
  #Spacing {
    height: 70px;
  }
  #ProfileBar {
    position: absolute;
    top: 20px;
    right: 50px;
  }
  #MovieIcon {
    position: absolute;
    top: 20px;
    left: 50px;
  }
}
@media only screen and (max-width: 1200px) {
  #NavLinks,
  #SearchComponent {
    display: none;
  }
}

@media only screen and (min-width: 1200px) {
  #Burger {
    display: none;
  }
}
